<app-header-2></app-header-2>
<div class="content">
  <div class="reset-pw-dialog">
    <div class="title-section">
      <a [routerLink]="['/reset-password']">
        <img src="assets/icon/arrow_back.svg" alt=""
      /></a>
      <h1 class="blue">Passwort zurücksetzen</h1>
    </div>

    <form
      [formGroup]="newPasswordForm"
      (ngSubmit)="onSubmit()"
      class="form"
      action=""
    >
      <div class="input-section">
        <div class="input-email">
          <input
            class="fs-18"
            type="password"
            formControlName="password_1"
            placeholder="Neues Passwort"
          />
          <input
            class="fs-18"
            type="password"
            formControlName="password_2"
            placeholder="Neues Kennwort bestätigen"
          />
          @if(submitted && newPasswordForm.errors?.['PasswordNoMatch']){
          <span class="error">Passwords do not match</span>
          } @if(submitted &&
          newPasswordForm.get('password_1')?.errors?.['weak']){
          <span class="error">Password should be at least 6 character</span>
          }
        </div>
        <div class="btn-section">
          <button
            type="submit"
            [disabled]="isFormEmpty"
            [class.disabled]="isFormEmpty"
            class="fs-18 disabled"
          >
            Passwort ändern
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
