<div class="auth-page">
  <app-header-2></app-header-2>
  <div class="section">
    <div class="content">
      <div class="new-pw-dialog">
        <div class="title-section">
          <h1 class="blue">Passwort zurücksetzen</h1>
        </div>

        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="form" action="">
          <div class="input-section">
            <div class="input-password">
              <input class="fs-18" type="password" formControlName="password_1" placeholder="Neues Passwort" />
              <input class="fs-18" type="password" formControlName="password_2" placeholder="Neues Kennwort bestätigen" />

              @if(submitted && newPasswordForm.errors?.['PasswordNoMatch']){
              <span class="error">Passwörter stimmen nicht überein</span>
              }
              <div class="text-red-400 text-sm" *ngIf="newPasswordForm.get('password_1')?.dirty">
                <ul class="error-pw-list">
                  <li *ngIf="newPasswordForm.touched && newPasswordForm.get('password_1')?.errors?.['minlength']" class="block error">
                    Das Passwort muss mindestens sechs Zeichen lang sein.
                  </li>
                </ul>
              </div>
            </div>
            <div class="btn-section">
              <button type="submit" [disabled]="isFormEmpty" [class.disabled]="isFormEmpty" class="fs-18 disabled">
                Passwort ändern
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <app-log-message #log message="Passwort erfolgreich zurückgesetzt!"></app-log-message>
</div>
