<div class="reset-pw-wrap">
  <div class="reset-pw-content">
    <div class="reset-pw-header">
      <img src="assets/img/Logo-1.png" alt="" />
    </div>
    <div class="reset-pw-dialog">
      <div class="title-section">
        <a [routerLink]="['/reset-password']">
          <img src="assets/icon/arrow_back.svg" alt=""
        /></a>
        <h1 class="blue">Passwort zurücksetzen</h1>
      </div>

      <form
        [formGroup]="newPasswordForm"
        (ngSubmit)="onSubmit()"
        class="form"
        action=""
      >
        <div class="input-section">
          <div class="input-email">
            <input
              class="fs-18"
              type="password"
              formControlName="password_1"
              placeholder="Neues Passwort"
            />
            <input
              class="fs-18"
              type="password"
              formControlName="password_2"
              placeholder="Neues Kennwort bestätigen"
            />
            @if(submitted && newPasswordForm.errors?.['PasswordNoMatch']){
            <span class="error">Passwords do not match</span>
            }
          </div>
          <div class="btn-section">
            <button type="submit" [disabled]="isFormEmpty" [class.disabled] ="isFormEmpty" class="fs-18 disabled">
              Passwort ändern
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="avatar-footer">
      <p class="blue fs-18">Impressum</p>
      <p class="blue fs-18">Datenschutz</p>
    </div>
  </div>
</div>
