.auth-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eceefe;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

app-footer {
  // height: 100px;
  width: 100%;
  background-color: #eceefe;
}

.create-acc {
  cursor: pointer;
}

.login-dialog {
  background-color: #fdfdfd;
  width: 600px;
  height: 700px;
  padding: 60px;
  border-radius: 30px;
  box-shadow: 0 2px 10px #00000014;

  > form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}

.title-section {
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  > h1 {
    font-family: "Nunito";
    font-size: 46px;
    font-weight: 600;
  }
  > p {
    font-size: 20px;
  }
}

.input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  > .input-email,
  .input-password {
    height: 80px;
    width: 100%;
    position: relative;
    > input {
      width: 100%;
      background-color: #eceefe;
      outline: none;
      border: none;
      border-radius: 100px;
      height: 60px;
      padding: 30px;
      padding-left: 80px;
    }
  }
}

.error {
  color: red;
}

.ph-img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 20px;
}
.btn-section {
  display: flex;
  gap: 40px;
  > button {
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 130px;
    cursor: pointer;
    font-weight: 700;
  }
  > :nth-child(1) {
    color: #fdfdfd;
    background-color: #444df2;
  }
}

.separator-section {
  width: 100%;
  display: flex;
  align-items: center;
  > .separator {
    width: 100%;
    height: 1px;
    background-color: #adb0d9;
  }
  > p {
    margin: 0;
    padding: 5px;
  }
}

.whole-img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
  > .greeting-logo {
    position: absolute;
    top: -40px;
    left: -58px;
    width: 150px;
    height: auto;
  }
  > .greeting-name {
    top: 0;
    left: 128px;
    position: absolute;
    width: 380px;
    height: auto;
  }
}

.changeColor {
  animation: changeColor;
  animation-duration: 1.8s;
}

@keyframes changeColor {
  0% {
    filter: invert(0%);
  }
  100% {
    filter: invert(100%);
  }
}

.greeting-container {
  position: absolute;
  top: calc(50vh - 40px);
  z-index: 9999;
  left: calc(50% - 250px);
  width: 425px;
  margin: 40px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  top: calc(50vh - 40px);
  z-index: 9999;
  left: calc(50% - 250px);
  width: 425px;
  margin: 40px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideToCorner 1s ease-in-out;
}

@keyframes slideToCorner {
  0% {
    left: calc(50% - 250px);
    top: calc(50vh - 40px);
    scale: 1;
  }
  100% {
    left: -94px;
    top: -15px;
    scale: 0.4;
    opacity: 0.4;
  }
}

.greeting {
  width: 100%;
  height: 100%;
  position: relative;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.greeting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#797ef3, #313ae5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.greeting-logo {
  position: absolute;
  animation-name: shiftLogo;
  animation-duration: 2s;
  z-index: 3;
}

@keyframes shiftLogo {
  0% {
    left: calc(50% - 74px);
  }
  100% {
    left: calc(50% - 270px);
  }
}

.greeting-name {
  position: absolute;
  animation-name: shiftName;
  animation-duration: 2s;
  left: 30%;
  opacity: 1;
}

@keyframes shiftName {
  0% {
    left: -30%;
    opacity: 0;
  }
  50% {
    left: -10%;
    opacity: 0;
  }
  100% {
    left: 30%;
    opacity: 1;
  }
}

.resp-footer {
  display: none;
}

@import "./responsive.login";
