<div class="auth-page">
  <app-header-2></app-header-2>

  <div class="section">
    <div class="content">
      <div class="login-dialog">
        <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
          <div class="title-section">
            <h1 class="blue">Anmeldung</h1>
            <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
            @if((loginFormControl.password.touched || submitted)&& loginFormControl.password.errors?.['invalid']){
            <div class="error">E-Mail-Adresse oder Passwort ist falsch</div>
            }
          </div>
          <div class="input-section">
            <div class="input-email">
              <input
                class="fs-18"
                type="text"
                formControlName="email"
                required
                placeholder="beispielname@email.com"
                (focus)="emailFocused = true"
                (blur)="emailFocused = false"
              />
              <img class="ph-img" src="assets/icon/mail.png" alt="" />
              @if(!emailFocused && (loginFormControl.email.touched || submitted )&& loginFormControl.email.errors?.['required']){
              <span class="error">Email-Adresse ist erforderlich</span>
              } @if(!emailFocused && (loginFormControl.email.touched || submitted) && !loginFormControl.email.errors?.['required']
              && (loginFormControl.email.errors?.['invalidEmail'] || loginFormControl.email.errors?.['email'])){
              <span class="error">Ungültige E-Mail-Adresse</span>
              }
            </div>
            <div class="input-password">
              <input class="fs-18" type="password" formControlName="password" required placeholder="Passwort" />
              <img class="ph-img" src="assets/icon/lock.png" alt="" />
              @if((loginFormControl.password.touched || submitted)&& loginFormControl.password.errors?.['required']){
              <span class="error">Passwort ist erforderlich</span>} @if((loginFormControl.password.touched || submitted)&&
              loginFormControl.password.errors?.['incorrect']){
              <span class="error">Falsches Passwort</span>
              }
            </div>

            <a [routerLink]="['/resetPassword']"><p class="fs-18 blue">Passwort vergessen?</p></a>
          </div>
          <div class="btn-section">
            <button [disabled]="isFormEmpty" [class.disabled]="isFormEmpty" type="submit" class="fs-18">Anmelden</button
            ><button type="button" class="button" (click)="guestLogin($event)" class="fs-18 blue">Gäste-Login</button>
          </div>
        </form>
      </div>
      <div class="resp-footer">
        <p class="fs-18">Neu bei DABubble?</p>
        <a [routerLink]="['signup']">
          <button class="fs-18 blue create-acc">Konto erstellen</button>
        </a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
