<div class="login-content-wrap">
  <div class="login-content">
    <!-- <div #greeting class="greeting">
      <div #greetingContainer class="greeting-container">
        <img
          #greetingLogo
          src="assets/img/Logo-intro.png"
          class="greeting-logo"
        />
        <img
          class="greeting-name"
          src="assets/img/Logo-intro-name.png"
          alt="greeting-logo-name"
        />
      </div>
    </div> -->

    <div class="login-header">
      <img #headerLogo src="assets/img/Logo-1.png" alt="" />

      <div>
        <p class="fs-18">Neu bei DABubble?</p>
        <a [routerLink]="['signup']"
          ><p class="fs-18 blue create-acc">Konto erstellen</p></a
        >
      </div>
    </div>
    <div class="login-dialog">
      <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
        <div class="title-section">
          <h1 class="blue">Anmeldung</h1>
          <p>
            Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der
            Arbeit verwendest.
          </p>
          @if((loginFormControl.password.touched || submitted)&&
          loginFormControl.password.errors?.['invalid']){
          <div class="error">Email or password is incorrect</div>
          }
        </div>
        <div class="input-section">
          <div class="input-email">
            <input
              class="fs-18"
              type="text"
              formControlName="email"
              required
              placeholder="beispielname@email.com"
            />
            <img class="ph-img" src="assets/icon/mail.png" alt="" />
            @if((loginFormControl.email.touched || submitted )&&
            loginFormControl.email.errors?.['required']){
            <span class="error">Email is required</span>
            } @if((loginFormControl.email.touched ||submitted) &&
            loginFormControl.email.errors?.['invalidEmail']){
            <span class="error">Invalid Email</span>
            }
          </div>
          <div class="input-password">
            <input
              class="fs-18"
              type="password"
              formControlName="password"
              required
              placeholder="Passwort"
            />
            <img class="ph-img" src="assets/icon/lock.png" alt="" />
            @if((loginFormControl.password.touched || submitted)&&
            loginFormControl.password.errors?.['required']){
            <span class="error">Password is required</span>}
            @if((loginFormControl.password.touched || submitted)&&
            loginFormControl.password.errors?.['incorrect']){
            <span class="error">Incorrect Password</span>
            }
          </div>

          <a [routerLink]="['/resetPassword']"
            ><p class="fs-18 blue">Passwort vergessen?</p></a
          >
        </div>
        <div class="separator-section">
          <div class="separator"></div>
          <p class="fs-18">ODER</p>
          <div class="separator"></div>
        </div>
        <p class="fs-18">Anmelden mit Google</p>
        <div class="btn-section">
          <button type="submit" class="fs-18">Anmelden</button
          ><button class="fs-18 blue">Gäste-Login</button>
        </div>
      </form>
    </div>
    <div class="login-footer">
      <p class="blue fs-18">Impressum</p>
      <p class="blue fs-18">Datenschutz</p>
    </div>
  </div>
</div>
