<div class="dialog-overlay" (click)="closeDialog()">
  <div class="dialog-box" (click)="$event.stopPropagation()">
    <form #memberForm="ngForm"  (ngSubmit)="submitForm()">

      <div class="add-members-header">
        <h2>Leute hinzufügen</h2>
        <span class="close-icon material-symbols-outlined" (click)="closeDialog()">close</span>
      </div>

      <fieldset class="radio-group">
        <label class="radio-option">
          <input
            type="radio"
            name="inviteMode"
            [(ngModel)]="inviteMode"
            [value]="1" />
          <span>Alle Mitglieder zu <span class="channel-name">{{ channelName }}</span> hinzufügen</span>
        </label>

        <label class="radio-option">
          <input
            type="radio"
            name="inviteMode"
            [(ngModel)]="inviteMode"
            [value]="2" />
          <span>Bestimmte Leute hinzufügen</span>
        </label>
        <ul class="member-list" >
            @for(member of this.members; track member){
                <li class="member-item">
                  <div class="avatar">
                    <img [src]="member.imgUrl" alt="Elise Roth" />
                  </div>
                  <p>{{ member.name }}</p>
                  <span 
                    (click)="deleteMember(member.uid)" 
                    class="material-symbols-outlined">
                    close
                  </span>
                </li>
            }
        </ul>
        <div *ngIf="inviteMode === 2" class="search-wrapper">
          <input
            type="text"
            name="search"
            [(ngModel)]="searchText"
            placeholder="Name eingeben"
            [required]="inviteMode === 2"
            class="full-input" 
            />

            @if (inviteMode == 2 && searchText != '') {
              <div class="member-box">
                <ul class="direct-messages-list" >
                  @for(user of getOtherUserList(); track user){
                    <li class="direct-messages-item" (click)="addMember(user.uid)" >
                      <div class="avatar">
                        <img [src]="user.imgUrl" alt="Elise Roth" />
                      </div>
                      <p>{{ user.name }}</p>
                  </li>
                  }
                </ul>
              </div>
            }
        </div>
      </fieldset>

      <div class="actions">
        <button
          type="submit"
          [disabled]="isDisabled()"
          [ngClass]="isDisabled() ? 'btn-disabled' : 'btn-active'">
          Erstellen
        </button>
      </div>
    </form>
  </div>
</div>
