<div class="dialog-overlay" (click)="closeDialog()">
  <div class="dialog-box" (click)="$event.stopPropagation()">
    <form #memberForm="ngForm" (ngSubmit)="addMember()">

      <div class="add-members-header">
        <h2>Leute hinzufügen</h2>
        <span class="close-icon material-symbols-outlined" (click)="closeDialog()">close</span>
      </div>

      <fieldset class="radio-group">
        <label class="radio-option">
          <input
            type="radio"
            name="inviteMode"
            [(ngModel)]="inviteMode"
            [value]="1" />
          <span>Alle Mitglieder von <span class="channel-name">{{ channelName }}</span> hinzufügen</span>
        </label>

        <label class="radio-option">
          <input
            type="radio"
            name="inviteMode"
            [(ngModel)]="inviteMode"
            [value]="2" />
          <span>Bestimmte Leute hinzufügen</span>
        </label>

        <div *ngIf="inviteMode === 2" class="search-wrapper">
          <input
            type="text"
            name="search"
            [(ngModel)]="searchText"
            placeholder="Name eingeben"
            [required]="inviteMode === 2"
            class="full-input" />
        </div>

        @if (inviteMode == 2) {
          <ul class="direct-messages-list">
            <li *ngIf="userProfile() as user" class="direct-messages-item">
              <div class="avatar">
                <img [src]="user.imgUrl" alt="Elias Neumann" />
              </div>
              <p>{{ user.name }} (Du)</p>
            </li>
            @for(user of getOtherUserList(); track user){
            <a [routerLink]="['/directMessages']"
              ><li class="direct-messages-item">
                <div class="avatar">
                  <img [src]="user.imgUrl" alt="Elise Roth" />
                </div>
                <p>{{ user.name }}</p>
              </li>
            </a>
            }
          </ul>
        }
      </fieldset>

      <div class="actions">
        <button
          type="submit"
          [disabled]="isDisabled()"
          [ngClass]="isDisabled() ? 'btn-disabled' : 'btn-active'">
          Erstellen
        </button>
      </div>
    </form>
  </div>
</div>
