<section>
    <div class="content">
        <header>
            <div class="channel-name">
                <h2>Thread</h2><span># Entwicklerteam</span>
            </div>
            <div class="close-dialog" (click)="close.emit()"><mat-icon class="icon">close</mat-icon></div>
        </header>
        <main>
            <div class="ticket">
                <div class="member-img-ticket">
                    <img src="assets/img/elias_neumann.svg" alt="">
                </div>
                <div class="message-content">
                    <div class="name-date">
                        <span class="msg-name">{{ ticketUserName}}</span>
                        <span class="msg-date">{{ ticketCreatedAt }}</span>
                    </div>
                    <div class="message">
                        <p>{{ticketText}}</p>
                    </div>
                </div>
            </div>
            <div class="placeholder">
                <div class="placeholder-date msg-answer">2 Answers</div>
            </div>
            <div>
                @for (message of messages; track $index) {
                <app-thread-messages [members]="members" [message]="message" [index]="$index"></app-thread-messages>
                }
            </div>
        </main>
        <footer>
            <div class="text-area">
                <textarea name="chat_input" id="chat_input" placeholder="Antworten..."></textarea>
            </div>
            <div class="input-buttons">
                <div class="icons">
                    <div class="input-icon">
                        <img src="assets/icon/reaction.png" alt="">
                    </div>
                    <div class="input-icon">
                        <img src="assets/icon/tag_icon.png" alt="">
                    </div>

                </div>
                <div class="send-icon">
                    <img src="assets/icon/send.png" alt="">
                </div>
            </div>
        </footer>
    </div>
</section>