<section>
    <div class="content">
        <header>
            <div class="channel-name">
                <h2>Thread</h2><span># Entwicklerteam</span>
            </div>
            <div class="close-dialog" (click)="closeThread()"><mat-icon class="icon">close</mat-icon></div>
        </header>
        <main>
            <div *ngIf="loading" class="laoding-spinner">
                <mat-spinner></mat-spinner>
            </div>
            <div class="scroll-wrapper" #chat *ngIf="!loading">
                <app-thread-messages *ngIf="isThreadOpen" [members]="members" [message]="currentTicket"
                    [isCurrentEdited]="isCurrentEdited"></app-thread-messages>


                <div class="placeholder">
                    <div class="placeholder-date msg-answer">{{ messagesCount }}</div>
                </div>
                <div>
                    @for (message of messages; track message.threadMessageId; let i = $index) {
                    <div *ngIf="!isTheSameDate(i)" class="placeholder-thread">
                        <div class="placeholder-date-thread">{{ showPlaceholder(i)}}</div>
                    </div>
                    <app-thread-messages [members]="members" [message]="message" [index]="i"></app-thread-messages>
                    }
                </div>
            </div>
        </main>
        <footer>
            <div class="text-area">
                <textarea (keyup)="checkTheKey($event)" [(ngModel)]="textInput" name="chat_input" id="chat_input" #chat_input
                    placeholder="Antworten..." (input)="onInputChange($event)"></textarea>
            </div>
            <div class="input-buttons">
                <div class="icons">
                    <div class="input-icon" [matMenuTriggerFor]="reactMenu" #reactMenuTrigger="matMenuTrigger"
                        (click)="openEmojiMenu(reactMenuTrigger)">
                        <img src="assets/icon/reaction.png" alt="" />
                    </div>

                    <div class="input-icon" click-stop-propagation #mentionTrigger="matMenuTrigger"
                        [matMenuTriggerFor]="tagBoxMenu" (click)="tagInputStart()">
                        <img src="assets/icon/tag_icon.png" alt="" />
                    </div>

                    <div class="input-icon" click-stop-propagation [matMenuTriggerFor]="channelBoxMenu"
                        #channelTrigger="matMenuTrigger" (click)="tagInputChannelStart()">
                        <img class="channel-icon" src="assets/icon/tag_channel.png" alt="" />
                    </div>

                </div>
                <div class="send-icon" (click)="addMessageToThread()" [ngClass]="{'disabled' : !canSendMessage()}">
                    <img src="assets/icon/send.png" alt="">
                </div>
            </div>
        </footer>
    </div>
</section>

<mat-menu #channelBoxMenu="matMenu" class="channel-box-menu" yPosition="above">
    <div class="channel-menu-wrap">
        @for(channel of userMentionService.filteredChannelList(); track channel) {
        <menu mat-menu-item class="channel-menu-item" (click)="takeChannel(channel.name)">
            <img src="assets/icon/tag_channel.png" alt="" />
            <p class="truncate">{{ channel.name }}</p>
        </menu>
        }
    </div>
</mat-menu>

<mat-menu #reactMenu="matMenu" class="emoji-menu-small">
    <div class="emoji-menu-container">
        @for (emoji of emojiService.sortedEmojis; track emojiService.emojiList) {
        <span class="emoji-in-popup" (click)="onEmojiClick(emoji); $event.stopPropagation()"><img src="assets/emojis/{{ emoji.name }}.png" /></span>
        }
    </div>
</mat-menu>

<mat-menu autoFocus="false" #tagBoxMenu="matMenu" class="tag-box-menu" yPosition="above">
    <div class="tag-menu-wrap">
        @for(user of userMentionService.filteredUserList();track user){
        <menu mat-menu-item class="tag-menu-item" (click)="takeUser(user.name)">
            <img class="tagbox-img" [src]="user.imgUrl" alt="" />
            <p class="truncate">{{ user.name }}</p>
        </menu>
        }
    </div>
</mat-menu>