<section>
  <div class="content">
    <header>
      <div class="channel-name">
        <h2>Thread</h2>
      </div>
      <div class="close-dialog" (click)="closeThread()">
        <mat-icon class="icon">close</mat-icon>
      </div>
    </header>
    <main>
      <div *ngIf="loading" class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
      <div class="scroller-wrapper" #scrollContainerThread *ngIf="!loading">
        <app-message-ticket
          *ngIf="message && channelId"
          [message]="message"
          [channelId]="channelId"
          [inThreadView]="true"
        ></app-message-ticket>
        <div *ngFor="let date of Object.keys(groupMessagesByDate())">
          <div class="date-separator">
            <div class="separator"></div>
            <div class="date-container">
              <p class="date">{{ date }}</p>
            </div>
            <div class="separator"></div>
          </div>
          <div *ngFor="let msg of groupMessagesByDate()[date]; trackBy: trackByMessageId">
            <app-message-ticket
              *ngIf="message && channelId"
              [channelId]="channelId"
              [inThreadView]="true"
              [message]="msg"
              [threadId]="msg.id"
              [messageId]="message.id!"
              (editViewChange)="onEditViewChange($event)"
            ></app-message-ticket>
          </div>
        </div>
        <div class="placeholder">
          @if(message?.threadCount == 0){
          <div class="placeholder-date msg-answer">Keine Antwort</div>
          } @else {
          <div class="placeholder-date msg-answer">{{ message?.threadCount }} Antwort</div>
          }
        </div>
      </div>
    </main>
    <footer>
      <div class="text-area">
        <textarea
          #threadInput
          name="chat_input"
          id="chat_input"
          placeholder="Antworten..."
          [(ngModel)]="content"
          (input)="onInputChange($event)"
          (keyup)="updateField($event)"
        ></textarea>
      </div>
      <div class="input-buttons">
        <div class="icons">
          <div
            class="input-icon"
            [matMenuTriggerFor]="emojiMessageThreadMenu"
            #emojiMessageThreadMenuTrigger="matMenuTrigger"
            (click)="openMoreEmoji($event)"
          >
            <img src="assets/icon/reaction.png" alt="" />
          </div>
          <div
            class="input-icon"
            click-stop-propagation
            #mentionTrigger="matMenuTrigger"
            [matMenuTriggerFor]="tagBoxMenu"
            (click)="tagInputStart()"
          >
            <img src="assets/icon/tag_icon.png" alt="" />
          </div>
          <div
            class="input-icon"
            click-stop-propagation
            [matMenuTriggerFor]="channelBoxMenu"
            #channelTrigger="matMenuTrigger"
            (click)="tagInputChannelStart()"
          >
            <img class="channel-icon" src="assets/icon/tag_channel.png" alt="" />
          </div>
        </div>
        <div
          class="send-icon"
          (click)="addThreadMessage()"
          [class.sending]="isSending()"
          [class.disabled]="!canSendMessage()"
          [attr.disabled]="!canSendMessage()"
        >
          <img src="assets/icon/send.png" alt="" />
        </div>
      </div>
      <mat-menu #emojiMessageThreadMenu="matMenu" class="small-emoji-menu-message">
        <div class="emoji-menu-panel">
          @for(emoji of emojiService.sortedEmojis;track emojiService.emojiList){
          <div class="emoji-menu-item" (click)="onEmojiClick(emoji)">
            <img src="assets/emojis/{{ emoji.name }}.png" />
          </div>
          }
        </div>
      </mat-menu>
      <!-- <app-emoji-picker *ngIf="emojiService.smallEmojiMenu()" (emojiSelected)="addEmoji($event)"></app-emoji-picker> -->
      <mat-menu autoFocus="false" #tagBoxMenu="matMenu" class="tag-box-menu-thread" yPosition="above" xPosition="after">
        <div class="tag-menu-wrap">
          @for(user of userMentionService.filteredUserList();track user){
          <menu mat-menu-item class="tag-menu-item" (click)="takeUser(user.name)">
            <img class="tagbox-img" [src]="user.imgUrl" alt="" />
            <p>{{ user.name }}</p>
          </menu>
          }
        </div>
      </mat-menu>
      <mat-menu #channelBoxMenu="matMenu" class="channel-box-menu-thread" yPosition="above" xPosition="after">
        <div class="channel-menu-wrap">
          @for(channel of userMentionService.filteredChannelList(); track channel) {
          <menu mat-menu-item class="channel-menu-item" (click)="takeChannel(channel.name)">
            <img src="assets/icon/tag_channel.png" alt="" />
            <p>{{ channel.name }}</p>
          </menu>
          }
        </div>
      </mat-menu>
    </footer>
  </div>
</section>
