@import "../../../mixins";

@include respond-to(lg) {
  .search-container {
    display: none;
  }

  .resp-navi-back {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}

@include respond-to(md) {
  .user-name {
    display: none;
  }
}
