@import "../../../mixins";

@include respond-to(lg) {
  .search-container {
    display: none;
  }

  .resp-navi-back {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

.mat-menu-profile {
  width: 100vw !important;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  border-top-right-radius: 0 !important;
}
}

@include respond-to(md) {
  .user-name {
    display: none;
  }
}
