header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eceefe;
  padding: 16px;
  height: 100px;

  > img {
    width: 240px;
  }
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  margin: 0 64px;
  position: relative;

  > input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    padding: 0 16px;
    padding-left: 30px;
    border-radius: 30px;
    font-size: 24px;
    line-height: 50px;
    vertical-align: middle;

    &::placeholder {
      // padding-left: 20px;
      font-size: 24px;
      color: #999;
    }
  }

  .search-icon {
    border: none;
    background-color: transparent;
    margin-right: 8px;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-results-container {
  position: absolute;
  top: 40px;
  left: 15px;
  background-color: white;
  border-radius: 30px;
  border-top-left-radius: 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
  width: 300px;
  height: 400px;
  border: 1px solid #000000;
  max-height: 400px;
  overflow-y: auto;
}

.search-result-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin-bottom: 32px;
  margin-top: 8px;
  padding-left: 8px;
  margin-right: 16px;
}

.search-result-item {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;

  .avatar {
    flex-shrink: 0;
    margin-right: 16px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  > p {
    font-size: 18px;
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
  }
}

.search-result-messages {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-name {
      font-weight: bold;
      font-size: 14px;
      margin: 0;
    }

    .timestamp {
      font-size: 10px;
      color: #999;
      margin: 0;
    }

    .message-text {
      font-size: 18px;
    }
  }

  .divider {
    margin-bottom: 8px;
    width: 100%;
    height: 1px;
    background-color: #999;
  }
}

.logged-user {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 600px;
  justify-content: flex-end;
  cursor: pointer;

  .user-name {
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
  }

  > .profile-img-section {
    position: relative;
    > .profile-img {
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
    > .status-img {
      position: absolute;
      bottom: 5px;
      right: 3px;
    }
  }
}

.mat-button-profile {
  cursor: pointer;
  border: none;
}
::ng-deep .mat-menu-profile {
  width: 280px !important;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  border-top-right-radius: 0 !important;
}

::ng-deep .profile-menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep .menu-wrap {
  justify-content: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 280px !important;
  height: 180px;
  border-radius: 30px !important;
}

::ng-deep .mat-menu-item-btn {
  height: 60px;
  width: 250px;
  > span {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px;
    font-size: 30px !important;
    text-align: center;
    > p {
      margin: 0;
    }
    > img {
      width: 30px;
      height: 30px;
    }
  }

  .menu-resp {
    display: none;
  }

  &:hover {
    background-color: transparent !important;
  }
  &:nth-child(2):hover {
    background-color: #eceefe !important;
    border-radius: 30px;
    color: blue;
  }
}

.custom-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

app-user-profile {
  z-index: 1001;
  position: absolute;
  top: 90px;
  right: 20px;
}

::ng-deep .mat-menu-profile {
  border-radius: 0;
  max-height: 50vh;
}

::ng-deep .slide-in {
  transform: translateY(100%);
  animation: slideIn 0.3s forwards;
}

::ng-deep .slide-out {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.mobile-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.no-results {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

@import "_responsive.header.scss";
