header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eceefe;
  padding: 16px;
  height: 100px;

  > img {
    width: 400px;
  }
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  margin: 0 64px;

  > input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    padding: 0 16px;
    border-radius: 30px;
    font-size: 24px;
    line-height: 50px;
    vertical-align: middle;

    &::placeholder {
      padding-left: 32px;
      font-size: 24px;
      color: #999;
    }
  }

  > button {
    border: none;
    background-color: transparent;
    padding: 16px;
  }
}

.logged-user {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 600px;
  justify-content: flex-end;
  cursor: pointer;

  .user-name {
    font-weight: bold;
    font-size: 32px;
  }

  > .profile-img-section {
    position: relative;
    > .profile-img {
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
    > .status-img {
      position: absolute;
      bottom: 5px;
      right: 3px;
    }
  }
}

.mat-button-profile {
  cursor: pointer;
  border: none;
}
::ng-deep .mat-menu-profile {
  width: 280px !important;
  height: 180px;
  display: flex;
  top: 20px;
}

::ng-deep .mat-mdc-menu-content {
  justify-content: center !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 280px !important;
  height: 180px;
}

// ::ng-deep .cdk-overlay-container {
//   // position: static !important;
//   background-color: rgba(0, 0, 0, 0.53) !important;
// }
::ng-deep .mat-menu-item {
  height: 60px;
  > span {
    font-size: 30px !important;
    text-align: center;
  }
  &:hover {
    background-color: transparent !important;
  }
  &:nth-child(2):hover {
    background-color: #eceefe !important;
    border-radius: 30px;
    color: blue;
  }
}

.custom-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

app-user-profile {
  z-index: 1001; 
  position: absolute;
  top: 90px;
  right: 50px;
}
