<header class="header">
  <img src="assets/icon/dabubble_header.png" alt="header_logo" />
  <img src="assets/icon/dabubble_header.png" *ngIf="!isNavbarClosed" alt="header_logo" />
  <div class="resp-navi-back" *ngIf="isNavbarClosed">
    <img src="assets/icon/arrow_back_2.svg" alt="" />
    <img src="assets/icon/devspace.png" (click)="onMenuClick()" alt="" />
  </div>

  <div class="search-container">
    <input id="search" type="search" placeholder="Devspace durchsuchen" (input)="onSearch($event)" />
    <mat-icon class="search-icon">search</mat-icon>
    @if (searchText != '') {
    <div class="search-results-container">
        <ul class="search-result-list">
          @for (user of filteredUsers; track user) {
            <li class="search-result-item">
              <div class="avatar">
                <img [src]="user.imgUrl" alt="User avatar" />
              </div>
              <p>{{ user.name }}</p>
            </li>
          }
          @for (channel of filteredChannels; track channel) {
            <li class="search-result-item">
              <p>{{ channel.name }}</p>
            </li>
          }

          @for (message of highlightedMessages; track $index) {
            <li class="search-result-messages">
              <div class="user-profile">
                <p class="user-name">{{ message.userName }}</p>
                <small class="timestamp">{{ message.timestamp | date:'dd.MM.yyyy, HH:mm' }}</small>
              </div>
              <p class="message-text">{{ message.text }}</p>
              <div class="divider"></div>
            </li>
          }
          @if (noResultsMessage != '') {
            <div class="no-results">
              {{ noResultsMessage }}
            </div>
          }
        </ul>
    </div>
    }
  </div>

  <div
    *ngIf="userProfile() as user"
    class="mat-button-profile logged-user"
    mat-button
    [matMenuTriggerFor]="baseMenu"
    (click)="showOverlay()"
    #menuTrigger="matMenuTrigger"
  >
    <div class="user-name">{{ user.name }}</div>
    <div class="profile-img-section">
      <img class="profile-img" [src]="user.imgUrl" alt="user" />
      <img class="status-img" src="assets/icon/Online.png" alt="online icon" />
    </div>
    <mat-icon>expand_more</mat-icon>
    <mat-menu
      class="mat-menu-profile"
      #baseMenu="matMenu"
      [hasBackdrop]="false"
      (menuOpened)="backdropVisible = true"
      (menuClosed)="onMenuClosed()"
    >
      <div class="profile-menu-wrap">
        <div class="menu-resp"></div>
        <button class="mat-menu-item-btn" mat-menu-item (click)="openProfile()">
          <img class="menu-resp" src="assets/icon/account_circle.svg" alt="" />
          <p>Profil</p>
        </button>
        <button class="mat-menu-item-btn" mat-menu-item (click)="logOut()">
          <img class="menu-resp" src="assets/icon/logout.svg" alt="" />
          <p>Log Out</p>
        </button>
      </div>
    </mat-menu>
  </div>
</header>
<div
  class="custom-backdrop"
  [class.visible]="backdropVisible"
  (click)="closeAll()"
></div>

<app-user-profile
  *ngIf="profileCardOpen"
  (close)="closeProfile()"
></app-user-profile>
