@import "../../mixins";

@media (max-width: 1400px) {
  ::ng-deep .container {
    > .mat-drawer-content {
      margin: 0 !important;
    }
  }
  .example-sidenav.example-sidenav-100 {
    transition: none !important;
  }
  .example-sidenav {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .members-container {
    display: none;
  }

  header {
    padding: 24px 24px;
  }

  .placeholder {
    margin: 24px 24px;
    width: calc(100% - 48px);
  }

  footer {
    margin: 24px 24px;
  }

  ::ng-deep .edit-channel-menu-container {
    max-width: 552px !important;
    min-width: 420px !important;
  }
}

@include respond-to(ssm) {
  .content {
    border-radius: unset;
  }
  ::ng-deep .edit-channel-menu-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    border-radius: 0px !important;
  }

  .edit-menu-channel {
    padding: 24px;
  }

  .edit-channel-header {
    > h2 {
      font-size: 20px;
    }
  }

  .channel-name-menu-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .created-by-name {
    margin: 0;
    font-size: 20px;
  }

  ::ng-deep #cdk-overlay-0 {
    top: 0 !important;
    left: 0 !important;
  }
}
