section {
  gap: 64px;
  display: flex;
  height: 100%;
  padding-bottom: 16px;
}

:host {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 24px;
  background-color: #eceefe;
}

.mat-drawer {
  border: none !important;
}

.content {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
}

.channel-name {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 6px 10px;

  > h2 {
    font-weight: bold;
    margin: 0;
    font-size: 24px;
  }

  &:hover {
    border-radius: 30px;
    background-color: #eceefe;

    h2,
    mat-icon {
      color: #535af1;
    }
  }
}

.edit-channel-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
}

.edit-channel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 12px;

  > h2 {
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: left;
    font-size: 24px;
  }
}

.channel-name-menu-container {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #adb0d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  > h3 {
    font-weight: 700;
    margin: 0;
    font-size: 18px;
    margin-bottom: 16px;
    width: 100%;
    padding-left: 24px;
  }
}

.error-message {
  color: #ff0000;
  margin: 0;
  position: absolute;
  font-size: 14px;
  border: 2px solid #ff0000;
  padding: 8px;
  border-radius: 30px;
}

.channel-name-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 20px 10px 20px;

  > h3 {
    font-weight: 700;
    margin: 0;
    font-size: 18px;
  }

  > span {
    color: #535af1;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.placeholder-edit {
  width: calc(100% - 48px);
  height: 1px;
  background-color: #adb0d9;
  margin: 16px 0;
}

.placeholder {
  width: calc(100% - 90px);
  height: 1px;
  background-color: #adb0d9;
  margin: 24px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-date {
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 4px 8px;
  width: fit-content;
  background-color: white;
}

.created-by-name {
  color: #535af1;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  padding-left: 24px;
  margin-bottom: 24px;
}

.no-border {
  border: none;
  padding: 18px 20px;
  border: 1px solid transparent;

  &:focus {
    outline: none;
  }
}

.border-on-focus {
  border-radius: 30px;
  border: 1px solid #535af1;
}

.no-border-edit {
  border: 1px solid transparent;
}

.channel-name-textarea {
  width: 100%;
  resize: none;
  font-size: 18px;
}

.laoding-spinner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
}

.first-message {
  padding: 25px 45px;
}

.first-message-title {
  > h2 {
    font-weight: bold;
    font-size: 24px;
  }
}

.first-message-text {
  > p {
    font-size: 20px;
  }
}

.channel-name-input {
  width: 100%;
  font-size: 18px;
  padding-left: 40px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.name-input-wrapper {
  position: relative;
  width: 100%;
}

.name-input-wrapper::after {
  content: "#";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 21px;
  left: 24px;
  font-size: 20px;
  font-weight: bold;
}

.add-member-icon {
  width: 40px;
  height: 40px;
  background-color: #eceefe;
  border-radius: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-channel-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.add-member-icon:hover img {
  filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(6164%) hue-rotate(228deg) brightness(96%) contrast(97%);
  transform: scale(1.1);
}

header {
  height: 96px;
  box-shadow: 0px 2px 10px 0px #00000014;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 45px;
}

.members {
  display: flex;
  align-items: center;
  gap: 8px;
}

.members-container {
  display: flex;
  padding: 3px 10px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;

    span {
      color: #535af1;
    }
  }
}

.member-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -8px;

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid white;
  }

  > span {
    font-size: 20px;
    font-weight: 600;
  }
}

footer {
  display: flex;
  height: 145px;
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 20px;
  margin: 25px 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.input-icon {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #eceefe;
    cursor: pointer;
  }

  &:hover img {
    filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(6164%) hue-rotate(228deg) brightness(96%) contrast(97%);
  }

  > img {
    width: 24px;
    height: 24px;
  }
}

.send-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text-area {
  display: flex;
  flex: 1;

  > textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
}

.scroll-wrapper {
  overflow-y: auto;
  width: 100%;
  padding: 25px 0;
}

//////////////// Ticket

.ticket-container {
  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    .ticket {
      .message {
        background-color: white;
      }
    }
  }
}

.ticket {
  display: flex;
  gap: 24px;
  padding: 20px 45px;
  position: relative;
}

.member-img-ticket {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  background-color: #eceefe;
  border-radius: 0 30px 30px 30px;
  padding: 15px;
  font-size: 18px;

  > p {
    margin: 0;
  }
}

.name-date {
  display: flex;
  gap: 24px;
}

.msg-name {
  font-weight: bold;
  font-size: 18px;
}

.answers {
  display: flex;
  align-items: center;
}

.msg-date {
  color: #686868;
  font-size: 14px;
}

.msg-answer {
  color: #535af1;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;

  &:hover {
    font-weight: 700;
  }
}

.msg-answer-container {
  width: 150px;
  display: flex;
  align-items: center;
}

.emoji-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #adb0d9;
  border-radius: 25px 25px 0 25px;
  width: 210px;
  height: 46px;
  padding: 3px 15px 3px 15px;
  background-color: white;
  top: -24px;
  right: 48px;

  opacity: 0;
  pointer-events: none;
  transform: translateX(20px);
  transition: opacity 200ms ease, transform 200ms ease;
}

.emoji-menu.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.emoji-menu.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(20px);
}

.emoji-menu-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;
    border-radius: 100%;

    .hover-purple {
      filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(6164%) hue-rotate(228deg) brightness(96%) contrast(97%);
    }
  }
}

.reverse {
  flex-direction: row-reverse !important;
}

.reverse-backround {
  background-color: #797ef3 !important;
  border-radius: 30px 0 30px 30px !important;

  > p {
    color: white !important;
  }
}

/////////////////////// ticket end
///
///
///
///
///

::ng-deep .edit-channel-menu-container {
  border-radius: 0px 30px 30px 30px !important;
  max-width: 832px !important;
  min-width: 620px !important;
}

::ng-deep .members-menu-container {
  border-radius: 30px 0 30px 30px !important;
  max-width: 600px !important;
}

::ng-deep .mat-typography {
  font: unset;

  > h1,
  h2,
  h3 {
    font: 18px Nunito;
  }
}

::ng-deep .cdk-overlay-container {
  z-index: 4000;
}

::ng-deep .emoji-menu-small {
  padding: 12px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #adb0d9;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.emoji-menu-container {
  display: flex;
  flex-wrap: wrap;
}

.emoji-in-popup {
  margin: 4px;
  font-size: 20px;
  padding: 6px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 75ms ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4000;
}

.close-dialog {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #eceefe;

    .icon {
      filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(6164%) hue-rotate(228deg) brightness(96%) contrast(97%);
      transform: scale(1.1);
    }
  }
}

.no-margin {
  margin: 0px !important;
}

.margin-16 {
  margin-left: 0 !important;
  margin-right: 16px !important;
}

.menu-container {
  padding: 20px 40px;
  border-radius: 30px 0 30px 30px !important;
}

.members-menu-listelement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 4px 20px;
  border-radius: 30px;

  &:hover {
    background-color: #eceefe;
    cursor: pointer;
  }

  &:active {
    .member-menu-name {
      color: #535af1;
    }
  }
}

.member-menu-name {
  font-size: 18px;
  flex: 1;
  text-wrap: unset;
}

.members-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow-y: auto;
}

.members-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.members-menu-add {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  border-radius: 30px;

  .add-member-icon {
    position: relative;
    margin-right: 16px;
  }

  &:hover {
    background-color: #eceefe;
    cursor: pointer;

    > span {
      filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(6164%) hue-rotate(228deg) brightness(96%) contrast(97%);
    }

        .add-member-icon img {
            filter: brightness(0) saturate(100%) invert(43%) sepia(61%) saturate(6164%) hue-rotate(228deg) brightness(96%) contrast(97%);
            transform: scale(1.1);
        }
    }
}

::ng-deep .tag-box-menu,
::ng-deep .channel-box-menu {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    padding: 20px !important;
    max-height: 500px !important;
    min-width: 400px !important;
}

::ng-deep .tag-menu-item,
::ng-deep .channel-menu-item {
    >.mat-mdc-menu-item-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        >p {
            margin: 0;
        }
    }
}

.tagbox-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}


.hide-content {
  display: none !important;
}

.example-sidenav-100 {
  width: 100% !important;
}

.margin-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.menu-container-resp {
  display: none;
}

.add-member-icon-resp {
  display: none;
}

@import "_responsive.channel.scss";
