<section>
    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
            <app-thread (close)="drawer.toggle()"></app-thread>
        </mat-drawer>
        <div class="content">
            <div class="backdrop" *ngIf="menuOpen" (click)="menuOpen = false"></div>
            <header>
                <div class="channel-name">
                    <h2># Entwicklerteam</h2>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
                <div class="members">
                    <div class="members-container" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                        (click)="openMenu(menuTrigger)">
                        <div class="member-img"><img src="assets/img/elias_neumann.svg"></div>
                        <div class="member-img"><img src="assets/img/elias_neumann.svg"></div>
                        <div class="member-img"><img src="assets/img/elias_neumann.svg"></div>
                        <div class="member-img"><span>3</span></div>
                    </div>

                    <div class="add-member-icon"><img src="assets/icon/person_add.png" alt=""></div>
                </div>
                <mat-menu class="members-menu" (closed)="menuOpen = false" xPosition="before" #menu="matMenu">
                    <div class="menu-container" (click)="$event.stopPropagation()">
                        <div class="members-menu-header">
                            <h2 class="no-margin">Mitglieder</h2>
                            <div class="close-dialog" (click)="closeMenu(menuTrigger)"><mat-icon
                                    class="icon">close</mat-icon></div>
                        </div>
                        <div class="members-menu-list">
                            @for (member of [1,2,3]; track $index) {
                            <div class="members-menu-listelement">
                                <div class="member-img margin-16">
                                    <img src="assets/img/elias_neumann.svg" alt="">
                                </div>
                                <div class="member-menu-name">Elias Neumann</div>
                            </div>
                            }
                            <div class="members-menu-add margin-16">
                                <div class="add-member-icon">
                                    <img src="assets/icon/person_add.png">
                                </div>
                                <span>Mitglieder hinzufügen</span>
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </header>
            <main>
                @for (ticket of [1,2,3]; track $index) {
                <app-ticket [index]="$index" (openThread)="drawer.toggle()"></app-ticket>
                }
                <div class="placeholder">
                    <div class="placeholder-date">Heute</div>
                </div>
                <div class="ticket-container">
                    <div class="ticket reverse reverse-hover">
                        <div class="member-img-ticket">
                            <img src="assets/img/elias_neumann.svg" alt="">
                        </div>
                        <div class="message-content">
                            <div class="name-date reverse">
                                <span class="msg-name">Elias Neumann</span>
                                <span class="msg-date">14:10 Uhr</span>
                            </div>
                            <div class="message reverse-backround">
                                <p>Welche Version ist aktuell von Angular?</p>
                            </div>
                            <div class="answers reverse">
                                <div class="msg-answer-container reverse"><span class="msg-answer"
                                        (click)="drawer.toggle()">2 Antworten</span></div>
                                <span class="msg-date">Letze Antwort 14:26</span>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="text-area">
                    <textarea name="chat_input" id="chat_input" placeholder="Nachricht an #Entwicklerteam"></textarea>
                </div>
                <div class="input-buttons">
                    <div class="icons">
                        <div class="input-icon">
                            <img src="assets/icon/reaction.png" alt="">
                        </div>
                        <div class="input-icon">
                            <img src="assets/icon/tag_icon.png" alt="">
                        </div>
                    </div>
                    <div class="send-icon">
                        <img src="assets/icon/send.png" alt="">
                    </div>
                </div>
            </footer>
        </div>
    </mat-drawer-container>
</section>