<section>
    <div class="backdrop" *ngIf="menuOpen" (click)="menuOpen = false"></div>
    <mat-drawer-container class="container" autosize>

        <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
            <app-thread (close)="drawer.toggle()"></app-thread>
        </mat-drawer>
        <div class="content">

            <header>
                <div class="channel-name" [matMenuTriggerFor]="editChannelMenu" (click)="openMenu(editChannelTrigger)"
                    #editChannelTrigger="matMenuTrigger">
                    <h2># Entwicklerteam</h2>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    <mat-menu #editChannelMenu="matMenu" (closed)="menuOpen = false">
                        <div class="edit-channel-menu" (click)="$event.stopPropagation()">
                            <div class="edit-channel-header">
                                <h2># Entwicklerteam</h2>
                                <div class="close-dialog" (click)="closeMenu(editChannelTrigger)"><mat-icon
                                        class="icon">close</mat-icon>
                                </div>
                            </div>
                            <div class="channel-name-menu-container" [ngClass]="{'no-border-edit' : editName}">
                                <div class="channel-name-menu-header">
                                    <h3>Channel-Name</h3>
                                    <span *ngIf="!editName" (click)="editChannel('editName')">Bearbeiten</span>
                                    <span *ngIf="editName" (click)="editChannelClose('editName')">Speichern</span>
                                </div>
                                <div class="name-input-wrapper">
                                    <input #nameInput [readonly]="!editName" [ngClass]="{'border-on-focus': editName}"
                                        type="text" class="channel-name-input no-border" value="Entwicklerteam">
                                </div>

                            </div>

                            <div class="channel-name-menu-container" [ngClass]="{'no-border-edit' : editDisc}">
                                <div class="channel-name-menu-header">
                                    <h3>Beschreibung</h3>
                                    <span *ngIf="!editDisc" (click)="editChannel('editDisc')">Bearbeiten</span>
                                    <span *ngIf="editDisc" (click)="editChannelClose('editDisc')">Speichern</span>
                                </div>
                                <textarea #discInput [ngClass]="{'border-on-focus': editDisc}" [readonly]="!editDisc"
                                    class="channel-name-textarea no-border" name="channel_name"
                                    id="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias enim aspernatur eius dolorum deleniti nam recusandae corrupti hic, nisi ipsam quasi tempora, magnam quas eligendi dolorem similique sunt! Cum.</textarea>
                                <div class="placeholder-edit"></div>
                                <h3>Erstellt von</h3>
                                <span class="created-by-name">Elias Neumann</span>
                            </div>
                            <div class="edit-channel-footer">
                                <span class="primary-button">Channel verlassen</span>
                            </div>


                        </div>

                    </mat-menu>
                </div>
                <div class="members">
                    <div class="members-container" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
                        (click)="openMenu(menuTrigger)">
                        <div class="member-img"><img src="assets/img/elias_neumann.svg"></div>
                        <div class="member-img"><img src="assets/img/elias_neumann.svg"></div>
                        <div class="member-img"><img src="assets/img/elias_neumann.svg"></div>
                        <div class="member-img"><span>3</span></div>
                    </div>

                    <div class="add-member-icon"><img src="assets/icon/person_add.png" alt=""></div>
                </div>
                <mat-menu (closed)="menuOpen = false" xPosition="before" #menu="matMenu">
                    <div class="menu-container" (click)="$event.stopPropagation()">
                        <div class="members-menu-header">
                            <h2 class="no-margin">Mitglieder</h2>
                            <div class="close-dialog" (click)="closeMenu(menuTrigger)"><mat-icon
                                    class="icon">close</mat-icon>
                            </div>
                        </div>
                        <div class="members-menu-list">
                            @for (member of [1,2,3]; track $index) {
                            <div class="members-menu-listelement">
                                <div class="member-img margin-16">
                                    <img src="assets/img/elias_neumann.svg" alt="">
                                </div>
                                <div class="member-menu-name">Elias Neumann</div>
                            </div>
                            }
                            <div class="members-menu-add margin-16">
                                <div class="add-member-icon">
                                    <img src="assets/icon/person_add.png">
                                </div>
                                <span>Mitglieder hinzufügen</span>
                            </div>
                        </div>
                    </div>
                </mat-menu>
            </header>
            <main>
                <div class="scroll-wrapper">
                    @for (ticket of [1,2,3]; track $index) {
                    <app-ticket [index]="$index" (openThread)="drawer.toggle()"></app-ticket>
                    }
                    <div class="placeholder">
                        <div class="placeholder-date">Heute</div>
                    </div>
                    <div class="ticket-container">
                        <div class="ticket reverse reverse-hover">
                            <div class="member-img-ticket">
                                <img src="assets/img/elias_neumann.svg" alt="">
                            </div>
                            <div class="message-content">
                                <div class="name-date reverse">
                                    <span class="msg-name">Elias Neumann</span>
                                    <span class="msg-date">14:10 Uhr</span>
                                </div>
                                <div class="message reverse-backround">
                                    <p>Welche Version ist aktuell von Angular?</p>
                                </div>
                                <div class="answers reverse">
                                    <div class="msg-answer-container reverse"><span class="msg-answer"
                                            (click)="drawer.toggle()">2 Antworten</span></div>
                                    <span class="msg-date">Letze Antwort 14:26</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <div class="text-area">
                    <textarea name="chat_input" id="chat_input" placeholder="Nachricht an #Entwicklerteam"></textarea>
                </div>
                <div class="input-buttons">
                    <div class="icons">
                        <div class="input-icon">
                            <img src="assets/icon/reaction.png" alt="">
                        </div>
                        <div class="input-icon">
                            <img src="assets/icon/tag_icon.png" alt="">
                        </div>
                    </div>
                    <div class="send-icon">
                        <img src="assets/icon/send.png" alt="">
                    </div>
                </div>
            </footer>
        </div>
    </mat-drawer-container>
</section>