<div class="signup-content">
  <div class="signup-header">
    <img src="assets/img/Logo-1.png" alt="" />
  </div>
  <div class="signup-dialog">
    <form class="form" action="">
      <div class="title-section">
        <img src="assets/icon/arrow_back.svg" alt="Go Back Arrow" />
        <h1 class="blue">Konto erstellen</h1>
        <p>
          Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
          DABubble-Konto.
        </p>
      </div>
      <div class="input-section">
        <div class="input-name">
          <input class="fs-18" type="text" placeholder="Name und Nachname" />
          <img
            class="ph-img"
            src="assets/icon/person_filled.png"
            alt="Name Placeholder Image"
          />
        </div>
        <div class="input-email">
          <input
            class="fs-18"
            type="text"
            placeholder="beispielname@email.com"
          />
          <img
            class="ph-img"
            src="assets/icon/mail.png"
            alt="Email Placeholder Image"
          />
        </div>

        <div class="input-password">
          <input class="fs-18" type="password" placeholder="Passwort" />
          <img
            class="ph-img"
            src="assets/icon/lock.png"
            alt="Password Placeholder Image"
          />
        </div>
      </div>
      <div class="input-checkbox">
        <input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox"
          >Ich stimme der
          <span class="blue span">Datenschutzerklärung</span>zu</label
        >
      </div>
      <div class="btn-section">
        <button class="fs-18">Weiter</button>
      </div>
    </form>
  </div>
  <div class="signup-footer">
    <p class="blue fs-18">Impressum</p>
    <p class="blue fs-18">Datenschutz</p>
  </div>
</div>
