<div class="dialog-overlay" (click)="closeDialog()">
  <div class="dialog-container" (click)="$event.stopPropagation()">
    <div class="dialog-header">
        <span class="material-symbols-outlined close-icon" (click)="closeDialog()">close</span>
        <h1>Channel erstellen</h1>
    </div>
    <div class="dialog-content">
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein <br>  #marketing zum Beispiel.</p>

        <h2>Channel-Name</h2>
        <input  type="text"placeholder="# z.B. Kooperationsprojekte" required/>

        <h2>Beschreibung <span>(optional)</span></h2>
        <textarea placeholder="Dein Text hier"></textarea>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="!channelName" (click)="createChannel()">Erstellen</button>
    </div>
  </div>
</div>