@import "./../mixins";

@include respond-to(lg) {
  app-navbar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@include respond-to(ssm) {
  app-navbar {
    padding: 0;
  }
}

@media (min-width:1921px) {
  .main-layout {
    position: relative;
  }
}