:host {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  background-color: #eceefe;
}

.main-layout {
  height: calc(100vh - 100px);
  display: flex;
  width: 100%;
  max-width: 1920px;
}

.auth-layout {
  height: 100%;
  justify-content: center;
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1920px;
}

@import "_responsive.app.scss"