<div class="separator"></div>
<div
  class="content"
  (mouseenter)="showEmojiMenu = true"
  (mouseleave)="showEmojiMenu = false"
>
  <div *ngIf="!currentUserText" class="container">
    <div class="ticket">
      <div class="ticket-img">
        <img [src]="user?.imgUrl" alt="" />
      </div>
      <div class="ticket-content">
        <div class="sender-name">
          <h3>{{ user?.name }}</h3>
        </div>
        <div class="msg">
          <p class="text">{{ message.content }}</p>
          <p class="time" *ngIf="isTimestamp(message.createdAt)">
            {{ message.createdAt.toDate() | date : "HH:mm" }}
          </p>
        </div>
        <div class="emoji-list" *ngIf="message.reactions">
          @for(emoji of message.reactions; track emoji){
          <div class="checked emoji">
            <img src="assets/emojis/{{ emoji }}.svg" alt="" />
            <p>1</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentUserText" class="container-reverse">
    <div class="ticket-reverse">
      <div class="ticket-img">
        <img [src]="user?.imgUrl" alt="" />
      </div>
      <div class="ticket-content-reverse">
        <div class="sender-name-reverse">
          <h3>{{ user?.name }}</h3>
        </div>
        <div class="msg-reverse">
          <p class="text-reverse">{{ message.content }}</p>
          <p class="time" *ngIf="isTimestamp(message.createdAt)">
            {{ message.createdAt.toDate() | date : "HH:mm" }}
          </p>
        </div>
        <div class="emoji-list-reversed" *ngIf="message.reactions">
          @for(emoji of message.reactions; track emoji){
          <div class="checked emoji">
            <img src="assets/emojis/{{ emoji }}.svg" alt="" />
            <p>1</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="emoji-menu"
    [ngClass]="{
      visible: showEmojiMenu,
      hidden: !showEmojiMenu,
      'emoji-menu-reverse': currentUserText
    }"
  >
    <div class="emoji-menu-item" (click)="addEmoji('checked', message.id)"><img src="assets/emojis/checked.svg" /></div>
    <div class="emoji-menu-item" (click)="addEmoji('thumb', message.id)"><img src="assets/emojis/thumb.svg" /></div>
    <div class="emoji-menu-item">
      <img class="hover-purple" src="assets/icon/add_reaction.svg" />
    </div>
  </div>
</div>
