<mat-menu #emojiMenu="matMenu" class="small-emoji-menu">
  <div class="emoji-menu-panel">
    @for(emoji of emojiService.sortedEmojis;track emojiService.emojiList){
    <div class="emoji-menu-item" (click)="onEmojiClick(emoji.name)">
      <!-- <span class="emoji-in-popup">{{ emoji.code }}</span> -->
      <img src="assets/emojis/{{ emoji.name }}.png" />
    </div>
    }
  </div>
</mat-menu>
<mat-menu #restEmoji="matMenu" class="rest-emoji-menu">
  <div class="rest-emoji-menu-panel">
    @for(emoji of restOfReactions;track emoji){
    <div class="rest-emoji-menu-item">
      <img src="assets/emojis/{{ emoji.emojiName }}.png" />
    </div>
    }
  </div>
</mat-menu>
<div
  *ngIf="!editView"
  class="ticket-container"
  (mouseenter)="!disableFloatingMenu && (showFloatingMenu = true)"
  (mouseleave)="!disableFloatingMenu && (showFloatingMenu = false)"
>
  <div class="ticket" [ngClass]="{ 'reverse reverse-hover': currentUserText }">
    <div class="member-img-ticket">
      <img src="assets/img/elias_neumann.svg" alt="" />
    </div>
    <div class="message-content">
      <div>
        <div class="name-date" [ngClass]="{ reverse: currentUserText }">
          <span class="msg-name"> {{ user?.name }}</span>
          <p class="time" *ngIf="isTimestamp(message.createdAt)">
            {{ message.createdAt.toDate() | date : "HH:mm" }}
          </p>
        </div>
      </div>

      <div class="message-wrapper" [ngClass]="{ reverse: currentUserText }">
        <div class="message" [ngClass]="{ 'reverse-backround': currentUserText }">
          <p>
            <ng-container *ngFor="let token of parsedMessageTokens">
              <ng-container *ngIf="token.type === 'text'">
                {{ token.value }}
              </ng-container>
              <ng-container *ngIf="token.type === 'mentionUser'">
                <a class="mention-link" (click)="onUserMentionClick(token.userName)"> &#64;{{ token.userName }} </a>
              </ng-container>
              <ng-container *ngIf="token.type === 'mentionChannel'">
                <a class="mention-link" (click)="onChannelMentionClick(token.channelName)"> &#35;{{ token.channelName }} </a>
              </ng-container>
            </ng-container>
          </p>
        </div>
      </div>
      <div *ngIf="inThreadView == false" class="answers" [ngClass]="{ reverse: currentUserText }">
        <span
          class="thread-answers"
          style="color: #535af1; font-size: 18px"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false"
          [style.fontWeight]="isHovered ? 700 : 400"
          (click)="openThreadPanel()"
        >
          @if(message.threadCount == 0){ Keine Antwort } @else {
          {{ message.threadCount }} Antwort }
        </span>
        <span class="msg-date" *ngIf="isTimestamp(message.lastThreadCreatedAt)"
          >Letzte Antwort {{ message.lastThreadCreatedAt.toDate() | date : "dd/MM/yyyy HH:mm" }}</span
        >
      </div>
      <div class="emoji-container" [ngClass]="{ reverse: currentUserText }" *ngIf="message.reactions">
        <div *ngFor="let emoji of reactionsAll; let i = index" class="emoji-wrapper">
          <div
            *ngIf="emoji.users && emoji.users.length > 0"
            class="checked emoji"
            (click)="onEmojiClick(emoji.emojiName)"
            (mouseenter)="showUsers(emoji.users, emoji.emojiName, i)"
            (mouseleave)="hideUsers(emoji.users)"
          >
            <img src="assets/emojis/{{ emoji.emojiName }}.png" alt="" />
            <!-- <span class="emoji-in-popup">{{ emoji.emojiName }}</span> -->
            <p>{{ emoji.users.length }}</p>
            <div class="reactionBox" *ngIf="showReactions && emojiIndex === i">
              <img src="assets/emojis/{{ shownEmoji }}.png" alt="" />
              <span>{{ formatNames(emoji.users, reactionList) }}</span>
            </div>
          </div>
        </div>
        <div class="restEmoji" *ngIf="hasMoreReactions && allEmoji" (click)="toggleEmojiAmount()">
          <span class="moreEmojiText"> + {{ restOfReactions?.length }} weitere</span>
        </div>
        <div class="restEmoji" *ngIf="hasMoreReactions && !allEmoji" (click)="toggleEmojiAmount()">
          <span class="lessEmojiText">Weniger</span>
        </div>
        <div
          class="emoji-menu-item"
          [matMenuTriggerFor]="emojiMenu"
          #emojiEditTrigger="matMenuTrigger"
          (click)="openMoreEmoji($event)"
        >
          <img class="hover-purple" src="assets/icon/add_reaction.svg" />
        </div>
      </div>
    </div>
    <div
      class="emoji-menu"
      [ngClass]="{
        visible: showFloatingMenu && !disableFloatingMenu,
        hidden: !showFloatingMenu || disableFloatingMenu,
        'emoji-menu-reverse': currentUserText
      }"
    >
      <div class="more-emoji">
        <div class="emoji-menu-item" *ngIf="inThreadView == false" (click)="onEmojiClick(emojiService.sortedEmojis[0].name)">
          <img class="emoji-img" src="assets/emojis/{{ emojiService.sortedEmojis[0].name }}.png" />

          <!-- <span class="emoji-in-popup">{{ emojiService.sortedEmojis[0].code }}</span> -->
        </div>
        <div class="emoji-menu-item" *ngIf="inThreadView == false" (click)="onEmojiClick(emojiService.sortedEmojis[1].name)">
          <!-- <span class="emoji-in-popup">{{ emojiService.sortedEmojis[1].code }}</span> -->
          <img class="emoji-img" src="assets/emojis/{{ emojiService.sortedEmojis[1].name }}.png" />
        </div>
        <div
          class="emoji-menu-item"
          [matMenuTriggerFor]="emojiMenu"
          #emojiEditTrigger="matMenuTrigger"
          (click)="openMoreEmoji($event)"
        >
          <img class="hover-purple" src="assets/icon/add_reaction.svg" />
        </div>
        <div class="emoji-menu-item" *ngIf="inThreadView == false">
          <img class="hover-purple" (click)="openThreadPanel()" src="assets/icon/comment.svg" />
        </div>
        <div *ngIf="isCurrentUser()" class="emoji-menu-item">
          <mat-icon
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="editTicket"
            (menuOpened)="onEditMenuOpened()"
            (menuClosed)="onEditMenuClosed()"
            >more_vert</mat-icon
          >
          <mat-menu #editTicket="matMenu" class="edit-menu">
            <span (click)="openEditView()" mat-menu-item>Nachricht bearbeiten</span>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editView" class="ticket-edit">
  <div class="message-edit">
    <textarea #editInput class="edit-textarea" [(ngModel)]="editedText" name="edit-textarea" id="edit_textarea"></textarea>
    <div class="button-container">
      <div
        class="input-icon"
        [matMenuTriggerFor]="emojiEditMenu"
        #emojiEditMenuTrigger="matMenuTrigger"
        (click)="openMoreEmoji($event)"
      >
        <img src="assets/icon/reaction.png" alt="" />
      </div>
      <mat-menu #emojiEditMenu="matMenu" class="small-emoji-menu-edit">
        @for(emoji of emojiService.sortedEmojis;track emojiService.emojiList){
        <div class="emoji-menu-item" (click)="addEmoji(emoji.code)">
          <!-- <span class="emoji-in-popup">{{ emoji.code }}</span> -->
          <img src="assets/emojis/{{ emoji.name }}.png" />
        </div>
        }
      </mat-menu>
      <div class="buttons">
        <span class="secondary-button" (click)="closeEditView()">Abbrechen</span>
        <span class="primary-button" (click)="editText()">Speichern</span>
      </div>
    </div>
  </div>
  <div class="member-img-ticket">
    <img src="assets/img/elias_neumann.svg" alt="" />
  </div>
</div>
