@import "../../../mixins";

@include respond-to(md) {
  .reset-pw-dialog {
    width: 500px;
    padding: 40px;
    padding-top: 50px;
  }
  h1 {
    font-size: 40px;
    text-wrap: wrap;
    text-align: center;
  }
}

@include respond-to(sm) {
  .reset-pw-dialog {
    width: 400px;
  }

  .title-section {
    > p {
      font-size: 18px;
    }
  }

  h1 {
    font-size: 36px;
  }
  .input-section {
    > .input-email {
      > input {
        height: 50px;
        padding: 18px;
        font-size: 16px;
        padding-left: 50px;
      }
      > img {
        width: 20px;
        height: 20px;
      }
    }
    > p {
      font-size: 18px;
    }
  }
  .btn-section {
    > button {
      height: 40px;
    }
    > .disabled {
      height: 40px;
    }
  }
}

@include respond-to(ssm) {
  .reset-pw-dialog {
    width: 340px;
    height: 450px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h1 {
    font-size: 32px;
  }

  .title-section {
    > p {
      font-size: 16px;
    }
    > a {
      left: 0;
    }
  }
  .input-section {
    > .input-email {
      > input {
        height: 45px;
        padding: 15px;
        font-size: 16px;
        padding-left: 50px;
      }
      > img {
        top: 12px;
      }
    }
    > p {
      font-size: 16px;
    }
  }
}

@include respond-to(sssm) {
  .reset-pw-dialog {
    gap: 10px;
    width: 290px;
    height: 460px;
  }

  .input-section {
    gap: 10px;
    > .input-email {
      > input {
        height: 40px;
        padding: 10px;
        padding-left: 50px;
        font-size: 15px;
      }
      > img {
        top: 10px;
      }
    }
  }
}
