<div class="auth-page">
  <app-header-2></app-header-2>
  <div class="section">
    <div class="content">
      <div class="reset-pw-dialog">
        <div class="title-section">
          <a [routerLink]="['/']">
            <img src="assets/icon/arrow_back.svg" alt=""
          /></a>
          <h1 class="blue">Passwort zurücksetzen</h1>
          <p class="fs-20">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
        </div>

        <form
          [formGroup]="resetPasswordForm"
          class="form"
          (ngSubmit)="onSubmit()"
        >
          <div class="input-section">
            <div class="input-email">
              <input
                class="fs-18"
                type="text"
                placeholder="beispielname@email.com"
                formControlName="email"
                required
              />
              <img
                class="ph-img"
                src="assets/icon/mail.png"
                alt="Email Placeholder Image"
              />
              @if((resetPasswordFormControl.email.touched || submitted )&&
              resetPasswordFormControl.email.errors?.['required']){
              <span class="error">Email is required</span>
              } @if((resetPasswordFormControl.email.touched ||submitted) &&
              resetPasswordFormControl.email.errors?.['email']){
              <span class="error">Invalid Email</span>
              }
            </div>
            <p class="fs-20">
              Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern
              können.
            </p>
            <div class="btn-section">
              <button
                [disabled]="isFormEmpty"
                [class.disabled]="isFormEmpty"
                type="submit"
                class="fs-18"
              >
                Email senden
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
