@import "../../mixins";

.auth-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eceefe;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.imp-dialog {
  background-color: #fdfdfd;
  width: 600px;
  height: 400px;
  padding: 60px;
  border-radius: 30px;
  box-shadow: 0 2px 10px #00000014;
  display: flex;
  flex-direction: column;
}

.title-section {
  display: flex;
  gap: 20px;
  align-items: center;
  > h1 {
    font-family: "Nunito", sans-serif;
    color: #444df2;
    font-size: 46px;
    font-weight: 700;
    margin: 0;
  }
  margin-bottom: 30px;
}

.go-back-arrow {
  width: 25px;
  height: 25px;
}

.content-section {
  > h2 {
    font-family: "Nunito", sans-serif;
    color: #444df2;
    font-size: 38px;
    font-weight: 700;
  }
}

@include respond-to(md) {
  .imp-dialog {
    width: 500px;
    height: 450px;
  }
}

@include respond-to(sm) {
  .imp-dialog {
    width: 400px;
    height: 450px;
  }
}

@include respond-to(ssm) {
  .imp-dialog {
    width: 320px;
    height: 400px;
    padding: 30px;
  }

  .title-section {
    > h1 {
      font-size: 33px;
    }
  }
  .go-back-arrow {
    width: 20px;
    height: 20px;
  }

  .content-section {
    > h2 {
      font-size: 28px;
    }
  }
}

@include respond-to(sssm) {
  .imp-dialog {
    width: 280px;
    height: 380px;
  }
}
