<div class="auth-page">
  <app-header-2></app-header-2>

  <div class="section">
    <div class="content">
      <div class="imp-dialog">
        <div class="title-section">
          <a [routerLink]="['/']"><img class="go-back-arrow" src="assets/icon/arrow_back.svg" alt="Go Back Arrow" /></a>
          <h1>Impressum</h1>
        </div>
        <div class="content-section">
          <p>
            <li>Stefan Redl</li>
            <li>Bence Cservenyak</li>
            <li>Dora Telekesi</li>
          </p>
          <p>Addresse: Dora Telekesi - Hofstr. 15 Münster 48167</p>
          <p>Addresse: Stefan Redl - Niederstrahlbach 12 3910 Zwettl</p>

          <h2>Contact</h2>
          <p>Email: doratelekesi&#64;gmail.com</p>
          <p>Email: stefanredl&#64;gmx.at</p>
        </div>
        <h2 class="emoji-title">Emojis from Flaticon -></h2>
        <div class="emoji-attr">
          <a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by justicon</a><br />
          <a href="https://www.flaticon.com/free-icons/sad" title="sad icons">Sad icons created by Vectors Market</a><br />
          <a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by Freepik</a><br />
          <a href="https://www.flaticon.com/free-icons/fire" title="fire icons">Fire icons created by Ghozi Muhtarom</a><br />
          <a href="https://www.flaticon.com/free-icons/shocked" title="shocked icons">Shocked icons created by NajmunNahar</a
          ><br />
          <a href="https://www.flaticon.com/free-icons/smiley" title="smiley icons">Smiley icons created by Md Tanvirul Haque </a
          ><br />
          <a href="https://www.flaticon.com/free-icons/emojis" title="emojis icons">Emojis icons created by zafdesign</a><br />
          <a href="https://www.flaticon.com/free-icons/cool" title="cool icons">Cool icons created by NajmunNahar</a><br />
          <a href="https://www.flaticon.com/free-icons/angry" title="angry icons">Angry icons created by Vectors Market</a><br />
          <a href="https://www.flaticon.com/free-icons/fire" title="fire icons">Fire icons created by Ghozi Muhtarom</a><br />
          <a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by shohanur.rahman13</a
          ><br />
          <a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by Vectors Market</a><br />
          <a href="https://www.flaticon.com/free-icons/gratitude" title="gratitude icons"
            >Gratitude icons created by Aranagraphics</a
          ><br />
          <a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by Vectors Market</a><br />
          <a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by justicon</a><br />

          <a href="https://www.flaticon.com/free-icons/sad-face" title="sad face icons">Sad face icons created by NajmunNahar</a
          ><br />
          <a href="https://www.flaticon.com/free-icons/surprised" title="surprised icons">Surprised icons created by Freepik</a
          ><br />
          <a href="https://www.flaticon.com/free-icons/dog" title="dog icons">Dog icons created by AomAm</a><br />
          <a href="https://www.flaticon.com/free-icons/celebrate" title="celebrate icons"
            >Celebrate icons created by Ghozi Muhtarom</a
          ><br />
          <a href="https://www.flaticon.com/free-icons/sad" title="sad icons">Sad icons created by justicon</a><br />
          <a href="https://www.flaticon.com/free-icons/kiss" title="kiss icons">Kiss icons created by Royyan Wijaya</a><br />
          <a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by justicon</a><br />
        </div>
      </div>
    </div>
  </div>
</div>
