<div class="auth-page">
  <app-header-2></app-header-2>

  <div class="section">
    <div class="content">
      <div class="imp-dialog">
        <div class="title-section">
          <a [routerLink]="['/']"><img class="go-back-arrow" src="assets/icon/arrow_back.svg" alt="Go Back Arrow" /></a>
          <h1>Impressum</h1>
        </div>
        <div class="content-section">
          <p>
            <li>Stefan Redl</li>
            <li>Bence Cservenyak</li>
            <li>Dora Telekesi</li>
          </p>
          <p>Addresse: Dora Telekesi - Hofstr. 15 Münster 48167</p>

          <h2>Contact</h2>
          <p>Email: doratelekesi&#64;gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
