<div class="dialog-overlay" (click)="closeDialog()">
  <div class="dialog-box" (click)="$event.stopPropagation()">
    <form [formGroup]="form" (ngSubmit)="createChannel()">
      <div class="newchannel-header">
        <span class="close-icon material-symbols-outlined" (click)="closeDialog()">close</span>
        <h1>Channel erstellen</h1>
      </div>

      <p>
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein.
        <br /><strong>#marketing zum Beispiel.</strong>
      </p>

      <label class="field-label" for="channelName">Channel‑Name</label>
      <input id="channelName"
             formControlName="channelName"
             placeholder="# z.B. Kooperationsprojekte"
             class="full-input"/>

      <label class="field-label" for="desc">
        Beschreibung <span class="optional-text">(optional)</span>
      </label>
      <textarea id="desc"
                formControlName="channelDescription"
                placeholder="Dein Text hier"
                class="full-input textarea"></textarea>

      <div class="actions">
        <button 
          type="submit" 
          [disabled]="!form.valid"
          [ngClass]="!form.valid ? 'btn-disabled' : 'btn-active'">
          Erstellen
        </button>
      </div>
    </form>
  </div>
</div>