<form #channelForm="ngForm" (ngSubmit)="createChannel()">
    <mat-dialog-content class="newchannel-content">
        <div class="newchannel-header">
            <span mat-icon-button (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </span>
            <h1>Channel erstellen</h1>
        </div>

        <p>
            Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein.<br />
            <strong>#marketing zum Beispiel.</strong>
        </p>

        <mat-form-field class="full-width" appearance="outline">
            <p>Channel-Name</p>
            <input matInput placeholder="# z.B. Kooperationsprojekte" name="channelName" required [(ngModel)]="channelName"  />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <p>Beschreibung <span class="optional-text">(optional)</span></p>
            <textarea matInput placeholder="Dein Text hier"></textarea>
        </mat-form-field>

        <mat-dialog-actions class="actions" align="end">
            <button 
                type="submit"
                [disabled]="!channelForm.valid"
                [ngClass]="!channelForm.valid ? 'btn-disabled' : 'btn-active'">
                Erstellen
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</form>