@import "../../../mixins";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.whole-img {
  display: flex;
  align-items: center;
  gap: 25px;
}
.greeting-logo {
  width: 60px;
  height: auto;
}

.greeting-name {
  width: 150px;
  height: auto;
  filter: invert(100%);
}

.header {
  @include respond-to(md) {
    justify-content: center;
  }

  > .create-account-section {
    @include respond-to(md) {
      display: none;
    }
  }
}
