<section>
  <mat-drawer-container class="container" autosize>
    <div class="content">
      <header>
        <h1>Neue Nachricht</h1>
        <div class="input-address-container" #addressContainer>
          <div class="address-display" (click)="focusInput()">
            <div *ngFor="let tag of selectedTags(); let i = index" class="address-tag">
              <img *ngIf="tag.imgUrl" [src]="tag.imgUrl" alt="" class="tag-avatar" />
              <div *ngIf="!tag.imgUrl && tag.type === 'channel'" class="channel-tag-icon">#</div>
              <span>{{ getTagDisplayName(tag) }}</span>
              <span class="remove-tag" (click)="removeTag(i)">×</span>
            </div>
            <div class="input-wrapper">
              <input
                #addressInput
                class="inline-input-address"
                [formControl]="addressControl"
                [matAutocomplete]="auto"
                (input)="onInputChange($event)"
                (focus)="onFocus()"
                (blur)="onBlur()"
              />
            </div>
            <span
              *ngIf="selectedTags().length === 0 && (!addressControl.value || addressControl.value.length === 0)"
              class="placeholder-text"
            >
              An #channel, oder &#64;jemand oder E-Mail-Adresse...
            </span>
          </div>
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="selectOption($event.option.value)"
          >
            <mat-optgroup label="Benutzer" *ngIf="filteredUsers().length > 0">
              <mat-option *ngFor="let user of filteredUsers()" [value]="{ type: 'user', data: user }" class="user-option">
                <div class="option-content">
                  <img [src]="user.imgUrl" alt="" class="option-avatar" />
                  <span>&#64;{{ user.name }}</span>
                </div>
              </mat-option>
            </mat-optgroup>
            <mat-optgroup label="Kanäle" *ngIf="filteredChannels().length > 0">
              <mat-option
                *ngFor="let channel of filteredChannels()"
                [value]="{ type: 'channel', data: channel }"
                class="channel-option"
              >
                <div class="option-content">
                  <div class="channel-icon">#</div>
                  <span>#{{ channel.name }}</span>
                </div>
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
        </div>
      </header>

      <!-- Success message -->
      <div *ngIf="lastSentMessage()" class="success-message">
        <span>{{ lastSentMessage() }}</span>
      </div>

      <main>
        <div class="scroll-wrapper" #scrollContainer>
          <!-- <div class="first-msg"> -->
          <!-- <div class="dm-msg-name">
              <img [src]="secondUser.imgUrl" alt="" />
              <p>{{ secondUser.name }}</p>
            </div> -->
          <!-- <div class="dm-msg-info">
              <p>
                Diese Unterhaltung findet nur zwischen
                <span (click)="openProfileView()" class="purple">&#64;{{ secondUser.name }}</span>
                und dir statt.
              </p>
            </div> -->
          <!-- </div> -->

          <!-- <div *ngFor="let date of Object.keys(groupMessagesByDate())">
            <div class="date-separator">
              <div class="separator"></div>
              <div class="date-container">
                <h3 class="date">{{ date }}</h3>
              </div>
              <div class="separator"></div>
            </div> -->

          <app-message-ticket *ngFor="let msg of localMessages" [message]="msg" [disableFloatingMenu]="true">
          </app-message-ticket>
        </div>
      </main>
      <footer>
        <div class="text-area">
          <textarea
            [(ngModel)]="content"
            class="textarea"
            #inputNew
            name="chat_input"
            id="chat_input"
            placeholder="Starte eine neue Nachricht"
            (input)="onInputChange($event)"
            (keydown)="onKeyDown($event)"
          ></textarea>
        </div>
        <div class="input-buttons">
          <div class="icons">
            <div class="input-icon" [matMenuTriggerFor]="emojiNewMessageMenu" #emojiNewMessageMenuTrigger="matMenuTrigger">
              <img src="assets/icon/reaction.png" alt="" />
            </div>
            <div
              class="input-icon"
              click-stop-propagation
              #mentionTriggerNew="matMenuTrigger"
              [matMenuTriggerFor]="tagBoxMenuNew"
              (click)="tagInputStart()"
            >
              <img src="assets/icon/tag_icon.png" alt="" />
            </div>
            <div
              class="input-icon"
              click-stop-propagation
              [matMenuTriggerFor]="channelBoxMenuNew"
              #channelTriggerNew="matMenuTrigger"
              (click)="tagInputChannelStart()"
            >
              <img class="channel-icon" src="assets/icon/tag_channel.png" alt="" />
            </div>
          </div>
          <div
            class="send-icon"
            (click)="addLocalMessage()"
            [class.sending]="isSending()"
            [class.disabled]="!canSendMessage()"
            [attr.disabled]="!canSendMessage()"
          >
            <img *ngIf="!isSending()" src="assets/icon/send.png" alt="" />
            <div *ngIf="isSending()" class="sending-spinner">⏳</div>
          </div>
          <mat-menu #emojiNewMessageMenu="matMenu" class="small-emoji-menu-message">
            <div class="emoji-menu-panel">
              @for(emoji of emojiService.sortedEmojis;track emojiService.emojiList){
              <div class="emoji-menu-item" (click)="onEmojiClick(emoji)">
                <img src="assets/emojis/{{ emoji.name }}.png" />
              </div>
              }
            </div>
          </mat-menu>
        </div>

        <mat-menu autoFocus="false" #tagBoxMenuNew="matMenu" class="tag-box-menu" yPosition="above">
          <div class="tag-menu-wrap">
            @for(user of userMentionService.filteredUserList();track user){
            <menu mat-menu-item class="tag-menu-item" (click)="takeUser(user.name)">
              <img class="tagbox-img" [src]="user.imgUrl" alt="" />
              <p>{{ user.name }}</p>
            </menu>
            }
          </div>
        </mat-menu>
        <mat-menu #channelBoxMenuNew="matMenu" class="channel-box-menu" yPosition="above">
          <div class="channel-menu-wrap">
            @for(channel of userMentionService.filteredChannelList(); track channel) {
            <menu mat-menu-item class="channel-menu-item" (click)="takeChannel(channel.name)">
              <img src="assets/icon/tag_channel.png" alt="" />
              <p>{{ channel.name }}</p>
            </menu>
            }
          </div>
        </mat-menu>
      </footer>
    </div>
  </mat-drawer-container>
</section>
