<div class="avatar-content-wrap">
  <div class="avatar-content">
    <div class="avatar-header">
      <img src="assets/img/Logo-1.png" alt="" />
    </div>
    <div class="avatar-dialog">
      <div class="title-section">
        <a [routerLink]="['/signup']">
          <img src="assets/icon/arrow_back.svg" alt=""
        /></a>
        <h1 class="blue">Wähle deinen Avatar</h1>
      </div>
      <div class="current-profile">
        <img src="assets/img/profile.png" alt="Profile Picture" />
        <h3>Frederick Beck</h3>
      </div>
      <div class="choose-avatar">
        <p class="fs-20">Aus der Liste wählen</p>
        <div class="img-list">
          <img src="assets/img/elias_neumann.svg" alt="" />
          <img src="assets/img/elise_roth.svg" alt="" />
          <img src="assets/img/frederik_beck.svg" alt="" />
          <img src="assets/img/noah_braun.svg" alt="" />
          <img src="assets/img/sofia_müller.svg" alt="" />
          <img src="assets/img/steffen_hoffmann.svg" alt="" />
        </div>
      </div>
      <div class="btn-section">
        <button class="fs-18">Weiter</button>
      </div>
    </div>
    <div class="avatar-footer">
      <p class="blue fs-18">Impressum</p>
      <p class="blue fs-18">Datenschutz</p>
    </div>
  </div>
</div>
