$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-ssm: 460px;
$breakpoint-sssm: 380px;

@mixin respond-to($breakpoint) {
  @if $breakpoint ==sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint ==md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint ==lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint ==ssm {
    @media (max-width: $breakpoint-ssm) {
      @content;
    }
  } @else if $breakpoint ==sssm {
    @media (max-width: $breakpoint-sssm) {
      @content;
    }
  }
}
