/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Nunito, "Helvetica Neue", sans-serif;
}


@font-face {
    font-family: Nunito;
    src: url(assets/fonts/Nunito-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Nunito;
    src: url(assets/fonts/Nunito-Bold.ttf);
    font-weight: bold;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
}