/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: Nunito;
  src: url(assets/fonts/Nunito-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Nunito;
  src: url(assets/fonts/Nunito-Regular.ttf);
  font-weight: normal;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.blue {
  color: #444df2;
}

.fs-18 {
  font-size: 18px;
}
app-login,
app-signup,
app-avatar-selection,
app-reset-password,
app-new-password {
  width: 100%;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}
