<section *ngIf="userProfileB">
  <div
    class="custom-backdrop"
    [class.visible]="backdropVisible"
    (click)="closeProfileCard()"
  ></div>
  <app-user-card
    *ngIf="profileOpen && userProfileB()"
    [userProfileB]="userProfileB()"
    [profileOpen]="profileOpen"
    (closeProfile)="closeProfileCard()"
  ></app-user-card>
  <mat-drawer-container class="container" autosize>
    <div class="content">
      <div class="backdrop"></div>
      <header>
        <div class="dm-name">
          <div class="dm-img">
            <img
              class="message-to-img"
              [src]="userB?.imgUrl"
              alt="MessageTo-Image"
            />
            <img
              class="status-img"
              src="assets/icon/Online.png"
              alt="Status Image"
            />
          </div>
          <p>{{ userB?.name }}</p>
        </div>
      </header>
      <main>
        <div *ngIf="userProfileB" class="scroll-wrapper" #scrollContainer>
          <div class="dm-msg-name">
            <img [src]="userB?.imgUrl" alt="" />
            <p>{{ userB?.name }}</p>
          </div>
          <div class="dm-msg-info">
            <p>
              Diese Unterhaltung findet nur zwischen
              <span (click)="openProfileView()" class="purple"
                >&#64;{{ userB?.name }}</span
              >
              und dir statt.
            </p>
            @for(msg of getMsgList(); track msg){
            <app-message-ticket [message]="msg"></app-message-ticket>
            }
          </div>
        </div>
      </main>
      <footer>
        <div class="text-area">
          <textarea
            [(ngModel)]="content"
            name="chat_input"
            id="chat_input"
            placeholder="Nachricht an @{{ userB?.name }}"
          ></textarea>
        </div>
        <div class="input-buttons">
          <div class="icons">
            <div class="input-icon">
              <img src="assets/icon/reaction.png" alt="" />
            </div>
            <div class="input-icon">
              <img src="assets/icon/tag_icon.png" alt="" />
            </div>
          </div>
          <div class="send-icon" (click)="addMessage()">
            <img src="assets/icon/send.png" alt="" />
          </div>
        </div>
      </footer>
    </div>
  </mat-drawer-container>
</section>
