<section>
  <mat-drawer-container class="container" autosize>
    <div class="content">
      <div class="backdrop"></div>
      <header>
        <div class="dm-name">
          <div class="dm-img">
            <img
              class="message-to-img"
              src="assets/img/sofia_müller.svg"
              alt="MessageTo-Image"
            />
            <img
              class="status-img"
              src="assets/icon/Online.png"
              alt="Status Image"
            />
          </div>
          <p>Sofia Müller</p>
        </div>
      </header>
      <main>
        <div class="scroll-wrapper">
          <div class="dm-msg-name">
            <img src="assets/img/sofia_müller.svg" alt="" />
            <p>Sofia Müller</p>
          </div>
          <div class="dm-msg-info">
            <p>
              Diese Unterhaltung findet nur zwischen
              <span class="purple">&#64;Sofia Müller</span> und dir statt.
            </p>
          </div>
        </div>
      </main>
      <footer>
        <div class="text-area">
          <textarea
            name="chat_input"
            id="chat_input"
            placeholder="Nachricht an @Sofia Müller"
          ></textarea>
        </div>
        <div class="input-buttons">
          <div class="icons">
            <div class="input-icon">
              <img src="assets/icon/reaction.png" alt="" />
            </div>
            <div class="input-icon">
              <img src="assets/icon/tag_icon.png" alt="" />
            </div>
          </div>
          <div class="send-icon">
            <img src="assets/icon/send.png" alt="" />
          </div>
        </div>
      </footer>
    </div>
  </mat-drawer-container>
</section>
